.messages {
    display: flex;
}

.friendList {
    width: 300px;
    padding: 20px;
}

.dialogList {
    padding: 20px;
    border: 2px solid #234456;
    border-top: none;
    flex: 1 1 auto;
    height: 500px;
}
